<div class="catalog-page">

  <!-- CABECERA CATÁLOGO -->
  <header class="section-header">
    <h1 class="page-title">Catálogo</h1>
    <p class="page-subtitle">
      Los favoritos de nuestra comunidad. Juegos probados y amados por miles de jugadores.
    </p>
  </header>

  <!-- BOTÓN CREAR PRODUCTO -->
  <div *ngIf="isAdmin"
    class="create-wrapper">
    <a routerLink="/product/create" class="btn-create">Crear producto</a>
  </div>

  <!-- BARRA DE BÚSQUEDA / FILTROS -->
  <div class="catalog-filters">

    <div class="filter-group">
      <label>Buscar juego</label>
      <input
        type="text"
        [(ngModel)]="searchText"
        placeholder="Ej: Catan"
      />
    </div>

    <div class="filter-group">
      <span>Idiomas</span>

      <label *ngFor="let lang of availableLanguages">
        <input
          type="checkbox"
          (change)="onLanguageChange($event, lang)"
          [checked]="selectedLanguages.includes(lang)"
        />
        {{ lang }}
      </label>
    </div>

    <div class="filter-actions">
      <button type="button" class="btn-search" (click)="onSearchClick()">
        Buscar
      </button>

      <button type="button" class="btn-clear" (click)="onClearFilters()">
        Limpiar
      </button>
    </div>

  </div>

  <!-- LISTA DE PRODUCTOS -->
  <div class="product-list">

    <div class="product-card" *ngFor="let p of products">

      <!-- Imagen del juego -->
      <div class="product-image-wrapper">
        <img
          *ngIf="p.picture"
          [src]="p.picture"
          [alt]="p.name"
          class="product-image"
        />
      </div>

      <h3 class="product-name">{{ p.name }}</h3>

      <p class="product-description">
        {{ p.description }}
      </p>

      <p class="price">
        {{ p.price }} €
      </p>

      <p class="stock">
        Stock: {{ p.stock }}
      </p>

      <div class="actions">
        <!-- Ver detalle -->
        <a [routerLink]="['/product', p.id]" class="link-detail">
          Ver detalle
        </a>

        <button
          *ngIf="isLoggedIn"
          class="btn-edit"
          (click)="addToCart(p)"
        >
          <i class="fa-solid fa-cart-plus"></i>
        </button>


        <!-- Editar -->
        <a
          *ngIf="isAdmin"
          class="btn-edit"
          [routerLink]="['/product/edit', p.id]"
        >
          Editar
        </a>

        <!-- Eliminar -->
        <a
          *ngIf="isAdmin"
          class="btn-delete"
          [routerLink]="['/product/delete', p.id]"
        >
          Eliminar
        </a>

      </div>
    </div>
  </div>

</div>
