#InicioSesion {
  background-color: #1B4332;
  width: 560px;
  height: 610px;
  border: #B7B7B7 3px solid;
  border-radius: 12px;
  justify-content: center;
  text-align: center;
  color: white;
  justify-self: center;
}

#logo {
  width: 304px;
  margin-top: 28px;
  justify-self: center;
}

#logo img {
  height: 127px;
  width: 304px;
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info div:nth-of-type(1) {
  height: 36px;
}

#info div:nth-of-type(2) {
  margin-top: 50px;
}

#info div:nth-of-type(2), #info div:nth-of-type(3){
  width: 90%;
  height: 70px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

#info div:nth-of-type(2) label, #info div:nth-of-type(3) label {
  font-size: 16px;
}

#info div:nth-of-type(2) input, #info div:nth-of-type(3) input {
  width: 100%;
  height: 48px;
  border: #6E6E6E 2.2px solid;
  border-radius: 10px;
}

#info div:nth-of-type(3) {
  margin-top: 10px;
}

#info div:nth-of-type(4) {
  margin-top: 25px;
}

#info div:nth-of-type(4) button{
  background-color: #FFB703;
  color: #1B4332;
  width: 225px;
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

#info div:nth-of-type(5) {
  margin-top: 10px;
}

#info div:nth-of-type(5) span, #info div:nth-of-type(6) span{
  color: #FFB703;
  text-decoration: underline;
}


/* MEDIAQUERY */



/* MOVIL */



@media (max-width: 600px) {

  #InicioSesion {
    width: 80%;
    height: 540px;
  }

  #logo {
    margin-top: 26px;
  }

  #logo img {
    height: 35%;
    width: 55%;
  }

  #info div:nth-of-type(1) {
    height: 36px;
  }

  #info div:nth-of-type(1) h1 {
    font-size: 24px;
  }

  #info div:nth-of-type(1) {
    height: 3%;
  }

  #info div:nth-of-type(2) {
    margin-top: 2%;
  }

  #info div:nth-of-type(2) div, #info div:nth-of-type(3) div {
    width: 90%;
  }

  #info div:nth-of-type(2) input, #info div:nth-of-type(3) input {
    width: 100%;
    border: #6E6E6E 2.2px solid;
    border-radius: 10px;
  }

  #info div:nth-of-type(4) button{
    font-size: 16px;
    font-weight: bold;
    width: 175px;
    height: 34px;
  }

  #info div:nth-of-type(4) {
    margin-top: 12px;
  }

  #info div:nth-of-type(5) p, #info div:nth-of-type(6) p{
    font-size: 14px;
  }

}
